#gameGrid{
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gridCell{
    margin: 2px;
    padding: 10px;
    background-color: blueviolet;
    color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}