body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e7f6fa98;
}

#gameGrid{
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gridCell{
    margin: 2px;
    padding: 10px;
    background-color: #d1d1e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    border-radius: 1rem;
}

.gridCell#playerOne{
    color: #cc0066;
}

.gridCell#playerTwo{
    color: #11cc00;
}

input#playerOne{
    color: #cc0066;
    font-size: 1rem;
}

input#playerTwo{
    color: #11cc00;
    font-size: 1rem;
}

input{
    padding: 9px;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}